body{
    margin:0;
    font-family:Segoe UI;
    background:#f4f6f9;
}

header {
    background: #111827;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #3b82f6;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 12px;
    transition: 0.3s;
}

nav a:hover {
    color: #3b82f6;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.contact-section {
    text-align:center;
    padding:80px 40px;
}

.contact-section input,
.contact-section textarea {
    width: 80%;
    margin: 15px auto;
    padding: 15px;
    border:1px solid #ccc;
    border-radius: 6px;
    font-size:16px;
}

.contact-section button {
    padding: 14px 28px;
    background:#3b82f6;
    color:white;
    border:none;
    font-size:18px;
    border-radius:6px;
}
