body{
font-family:Segoe UI;
background:url('https://images.unsplash.com/photo-1492724441997-5dc865305da7') no-repeat center center fixed;
background-size:cover;
display:flex;
flex-direction:column;
align-items:center;
color:white;
}

header{
width:100%;
padding:20px;
background:rgba(0,0,0,0.9);
}

.back-btn{
color:gold;
text-decoration:none;
font-weight:bold;
}

.form-box{
margin-top:120px;
background:rgba(0,0,0,0.8);
padding:40px;
text-align:center;
border-radius:8px;
}

input{
display:block;
margin:15px auto;
padding:10px;
width:250px;
}

button{
background:gold;
padding:10px 20px;
border:none;
cursor:pointer;
}
