body{font-family:Segoe UI;background:#f4f6f9;text-align:center;padding:150px;}
h1{font-size:48px;}
input{display:block;margin:20px auto;padding:12px;width:300px;}
button{padding:12px 30px;background:#3b82f6;color:white;border:none;}
